name_prefix           = "consulting"
region                = "nyc3"
size                  = "s-1vcpu-1gb"
ssh_keys              = ["REPLACE_WITH_SSH_KEY_FINGERPRINT_OR_ID"]
deploy_ssh_public_key = "ssh-ed25519 REPLACE_WITH_PUBLIC_KEY"
enable_reserved_ip    = true

# Optional:
# vpc_uuid = "REPLACE_ME"
# ssh_source_addresses = ["YOUR.PUBLIC.IP.ADDRESS/32"]
