{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="container">
  <div class="hero">

    <p class="logo">
      PSI FUNCTION LLC
    </p>

    <div class="hero-image-wrapper">
      <img src="{{ url_for('static', filename='images/hero.png') }}" alt="Hero">
    </div>

    <p class="title">
      Strategic technology consulting for independent businesses
    </p>

    <p class="hero-text">
      All businesses strategize to attract new customers, to offer market leading capabilities, or to operate more efficiently. For decades big corporations have pursued these goals through technology innovations. The cost and effort for such programs, though, has typically excluded small to mid-size companies from the benefits of advancing technology. Those days are over.

      Artificial intelligence, cloud computing, and open source software now make modern technology accessible to companies of all sizes. If your small to mid-size company uses computers, then it can use them to improve the business. Many small to mid-size companies lack internal IT and innovation teams to identify and implement these improvements. Psi Function can help.
    </p>

  </div>
</section>
{% endblock %}
