<!doctype html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Michroma&family=IBM+Plex+Mono:wght@300;400;500&family=Cutive+Mono&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Consulting Site{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/assets/app.css') }}">
</head>
<body>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
